input {
    appearance: none;
}

@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a {
    color: inherit;
}

#banner,
#content_wrapper {
    height: 100vh;
    min-height: 300px;
    min-width: 240px;
}

#banner {
    background: no-repeat 50% 50% / cover url("marita-kavelashvili-ugnrXk1129g-unsplash.jpg");
    flex: 1 1 35vw;
    flex-wrap: wrap;
    justify-content: center;
}

#banner > div {
    align-self: center;
    align-items: center;
    background-color: #0000004d;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    padding: 10px 0 10px 0;
    width: 100%;
}

#banner > div > img {
    height: 100px;
    width: auto;
}

#banner > div > p {
    color: white;
    font-family: "norsebold" ,Arial, Helvetica, sans-serif;
    font-size: 80px;
    margin: 0;
}

#banner > p {
    align-self: flex-end;
    background-color: #1f332bba;
    border-radius: .5rem;
    color: #ECECEC;
    height: fit-content;
    margin: .25rem;
    padding: .5rem;
}

body {
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

body,
div,
fieldset,
form,
html,
label {
    display: flex;
    font: inherit;
    max-width: 100vw;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    color: white;
    flex: 0 1 auto;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 45px;
    width: auto;
}

#content_wrapper {
    background-color: #F9FAFB;
    color: #1F2937;
    justify-content: center;
    flex: 1 1 65vw;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#content_wrapper > div,
form {
    align-items: flex-start;
    background-color: #F9FAFB;
    flex-direction: column;
    padding: 5vh 3vw 5vh 3vw;
}

#content_wrapper > div > div > a {
    color: #596D48;
    font-weight: bold;
    margin-left: .25rem;
    text-decoration: none;
}

#content_wrapper > div > p {
    font-size: 1.25rem;
    font-weight: bold;
}

fieldset {
    border: none;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 0;
}

form {
    background-color: white;
    box-shadow: 0px 5px 5px 0px #A3A3A3;
    gap: 2vh;
    position: relative;
}

h2 {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    width: 100vw;
}

input {
    background-color: #cbcbcb10;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    flex: 1 1 auto;
    margin-top: 2px;
    padding: .25rem;
}

input:focus {
    border: 1px solid blue;
    outline: none;
}

input:invalid {
    border: 1px solid red;
    outline: none;
}

label {
    flex-direction: column;
    font-size: small;
}